# Postgres connection string from the Supabase project settings.
NUXT_DATABASE_URL=

# Supabase project settings > API.
NUXT_SUPABASE_SERVICE_ROLE_KEY=
NUXT_PUBLIC_SUPABASE_URL=
NUXT_PUBLIC_SUPABASE_ANON_KEY=
